body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top{
  display: flex;
  padding: 10px;
  max-height: 130px;
  border-bottom: 1px solid #000;
}
.colors{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.swatch-holder{
  display: flex;
  width: 409.8px;
  min-height: 40px;
  border: 2px solid lightgrey;
}
.color-box{
  height: 40px;
  min-width: 40px;
  border-right: 1px solid white;
}
.saved-colors{
  overflow: scroll;
}
.size{
  margin: 0;
  padding: 0;
}
.sizeSlider{
  margin: -20px;
  padding: 0;
  transform: rotate(-90deg)
}